*{
    box-sizing: border-box;
}

/* header styling */

header .container{
    background-color: #7952b3;   
    max-width:100%!important; 
    color : whitesmoke;
}

header h1{
    font-size: 2em!important;
}

header #timer{
    font-size: 3rem!important;
}
/* main body styling */
main h1{
    font-size: 2rem!important;
}

main .btn-outline-primary{
    color:#7952b3!important;
    border-color: #7952b3!important;

}

main .btn-outline-primary:hover{
    color:#fff!important;
    border-color: #7952b3!important;
    background-color: #7952b3!important;
}

main .btn-outline-primary:active{
    color:#fff!important;
    border-color: #7952b3!important;
    background-color: #7952b3!important;
}

main .btn-outline-primary:focus{
    box-shadow:0 0 0 0.2rem rgba(225, 155, 250, 0.7)!important;
    color:#fff!important;
    border-color: #7952b3!important;
    background-color: #7952b3!important;
}

main .userChoice{
    text-align: justify;
    width:100%;
}

/* Score body styling */
main #resultMessage{
    font-style: italic;
    font-weight: bold;
}

main .errorResultMessage{
    color: rgb(210, 90, 90);
}

main .successResultMessage{
    color: rgb(90, 200, 90);
}

/* high score record styling */

/* for high score table */

.highscoreTable tbody tr:nth-of-type(odd){
    background-color: #7952b3!important;
    color : whitesmoke!important;
}

@media screen and (min-width: 600px){

main #resultInput{
    display: inline!important;
    width:70%!important;
}    
}
